* {
  font-family: "Ravi Prakash", cursive;
  font-size: 1.1em;
}

body {
  margin: 0;
  background-image: url(/img/samuel-regan-asante-wMkaMXTJjlQ-unsplash.jpg);
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
