.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 15.9%;
}

.footer a {
  text-decoration: none;
}

.footer a h1 {
  text-align: center;
  color: whitesmoke;
}

.footer a:hover h1 {
  color: blueviolet;
}

@media (max-width: 375px) {
  .footer a h1 {
    font-size: 1.2rem;
  }
}
