/* form */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 80vw;
  max-width: 400px;
  margin: 20px 0 20px 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5%;
}

.main h1 {
  font-size: 1.5em;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

input,
button {
  width: 60vw;
  max-width: 300px;
  margin: 10px 0px 10px 0px;
  border-radius: 5%;
}

a {
  color: rgb(188, 65, 245);
  text-decoration: none;
}

/* footer */
