/* form */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 80vw;
  max-width: 400px;
  margin: 20px 0 20px 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5%;
  justify-content: space-around;
}

.main h1 {
  font-size: 1.5em;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

input,
button {
  width: 60%;
  max-width: 300px;
  margin: 10px 0px 10px 0px;
  border-radius: 5%;
}

main a {
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}

main a:hover {
  color: blueviolet;
}
