.separator {
  margin-top: 4rem;
}

.section {
  color: blue;
  font-size: 2rem;
}

/* description */

.star {
  color: gold;
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
}
.star:before {
  content: "\2605";
  position: absolute;
  visibility: visible;
}
.star:checked:before {
  content: "\2606";
  position: absolute;
}

/* movie list */

.movie-list {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: space-evenly;
  gap: 1rem;
}

.movie-element {
  flex-basis: 10rem;
}

.movie-element img {
  height: 10rem;
  width: 10rem;
  object-fit: fill;
}

.description {
  display: none;
  height: 10rem;
  width: 10rem;
  color: black;
  background-color: rgba(179, 179, 179, 0.5);
  position: absolute;
  font-size: 1rem;
}

/* hover */

.movie-element:hover .description {
  display: inline-block;
}
